<div ng-include="'components/navbar/navbar.html'"></div>

<div class="pieChart" ng-controller="MakepollCtrl">
    <form name='makepollForm' ng-submit="makepollForm.$valid && submitPoll()" ng-hide="hasMadePoll" novalidate>
        <div class="form-group">
            <label for="inputTopic">Poll Topic</label>
            <input type="text" class="form-control" id="inputTopic" placeholder="What's your favorite ocean?" ng-model="topic" required/>
        </div>
        <div class="form-group">
            <label for="inputOption">Options</label>
            <div ng-repeat="option in options track by $index">
                <input type="text" class="form-control inputOption" placeholder="{{option}}" ng-model="labels[$index]" required/>
            </div>
        </div>
        <button ng-click='addOption()'>Add Option</button>
        <button type="submit" value="Submit">Submit</button>
    </form>
    
    <div class="share-link" ng-show="hasMadePoll">
        <h2>Share your poll!</h2>
        <div class="well well-sm">http://flying-gorilla-tank.herokuapp.com/poll/{{poll._id}}</div>
    </div>
</div>