<div ng-include="'components/navbar/navbar.html'"></div>

<div class="pieChart" ng-controller="PieCtrl">
    <form name='pollForm' novalidate>
        <div class="form-group">
            <label for="inputTopic">Poll Topic</label>
            <input type="text" class="form-control" id="inputTopic" placeholder="What's your favorite ocean?" ng-model="topic" required>
        </div>
        <div class="form-group">
            <label for="inputOption1">Options</label>
            <div ng-repeat="option in options track by $index">
                <input type="text" class="form-control" id="inputOption1" placeholder="{{option}}" ng-model="labels[$index]" required>
            </div>
        </div>
        <button ng-click='addOption()'>Add Option</button>
        <button ng-click='submitPoll()'>Submit</button>
    </form>
    
    <div class="chart-container col-md-12">
        <h1 ng-click="addLabels()">{{poll.topic}}</h1>
        <canvas id="pie" class="chart chart-pie" data="poll.data" labels="poll.labels" legend="true"></canvas>
    </div>
</div>